* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
}
body {
  width: 100%;
}
button {
  width: 120px;
  height: 50px;
  text-align: center;
  margin: 25px auto;
  padding: 5px 10px;
  font-size: 0.97rem;
}
.Container {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Fuzzy Bubbles", cursive;
  padding: 15px 0 25px 0;
}
.Container h2 {
  font-size: 2rem;
  margin: 15px auto;
  text-align: center;
}
.recipeContainer {
  background-color: #bbdefb;
}
.groceryContainer {
  background-color: #bbdefb;
}
.groceryContainer h2 {
  padding-top:  10px;
  border-bottom: 2px solid black;
}
.ingredient {
 line-height: 2.7rem;
 font-size: 1.12rem;
}
.ingredient a {
  float: right;
  font-family: "Fuzzy Bubbles", cursive;
}

.ingredient a:visited {
  color: black;
}
ul:not(.browser-default) > li {
  list-style-type: none;
}
ul:not(.browser-default) > .ingredientsLi  {
  list-style-type: circle;
}
ul:not(.browser-default) > .groceryLi  {
  padding-left: 10px;
  list-style-position: inside;
  list-style-type: circle;
}
/* End of recipe gallery */

/* Email/Text/Print Buttons */
/* .buttons {
  text-align: center;
}

#Email {
  background-color: #7f886a;
}

#Text {
  background-color: #f3ecdb;
}

#Print {
  background-color: #ff6f3d;
} */
/* End of Buttons */

/* Footer */
footer {
  padding: 10px 0 5px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer p {
  font-size: 1.4rem;
  font-family: "Fuzzy Bubbles", cursive;
}
footer a {
  display: block;
  font-size: 1.3rem;
  font-family: "Fuzzy Bubbles", cursive;
  margin: 5px auto;
}
footer a:hover {
  color: blue;
}
footer a:visited {
  color: black;
}
.row {
  display: flex;
}
.col-1 {
  flex: 25%;
  padding: 7px;
}

.col-2 {
  flex: 75%;
  padding: 7px;
  border-left: 1px solid black;
}
/* End of Footer */