* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* brand logo */
@media screen and (max-width: 600px) {
  nav .brand-logo {
    position: relative;
    top: 0px;
    left: 1px;
    height: auto;
  }
  nav {
    height: 60px;
  }
}

nav .brand-logo {
  position: relative;
  top: 0px;
  left: 1px;
  height: auto;
}

body {
  background-color: #3e503c;
  width: 100%;
}

button {
  width: 120px;
  height: 50px;
  text-align: center;
  margin: 25px auto;
  padding: 5px 10px;
  font-size: 0.97rem;
}

.recipeContainer {
  margin-top: 150px;
  max-width: 100%;
  position: relative;
  bottom: 0;
  background-color: #7f886a;
  width: 100%;
  overflow: hidden;
  font-family: "Fuzzy Bubbles", cursive;
  padding: 0 0 25px 0;
}
.recipeContainer h2 {
  font-size: 2rem;
  margin: 15px auto;
  text-align: center;
}
/* End of recipe gallery */

/* Email/Text/Print Buttons */
/* .buttons {
  text-align: center;
}

#Email {
  background-color: #7f886a;
}

#Text {
  background-color: #f3ecdb;
}

#Print {
  background-color: #ff6f3d;
} */
/* End of Buttons */

/* Footer */
footer {
  padding: 10px 0 5px 0;
  background-color: #f3ecdb;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  font-size: 1.4rem;
  font-family: "Fuzzy Bubbles", cursive;
}
footer a {
  display: block;
  font-size: 1.3rem;
  font-family: "Fuzzy Bubbles", cursive;
  margin: 5px auto;
}
footer a:hover {
  color: blue;
}
footer a:visited {
  color: black;
}
.row {
  display: flex;
}
.col-1 {
  flex: 25%;
  padding: 7px;
}

.col-2 {
  flex: 75%;
  padding: 7px;
  border-left: 1px solid black;
}
/* End of Footer */